{% extends "tango_perfs/base_feed.html" %}
{% block feed %}
<form method="post" action="http://localhost:8000/addperf/" accept-charset="UTF-8">

    <div class="row">

        <div class="large-6 columns">
     <div class="ui-widget ui-front">
        <label for="song">Dancer: </label>
      <input name="add-performer1" id="add-performer1">
      <div id='perf1-add-ac-container' class='ac-container'></div>
  </div>
  </div>

          <div class="large-6 columns">
     <div class="ui-widget ui-front">
        <label for="song">Dancing with: </label>
      <input name="add-performer2" id="add-performer2">
      <div id='perf2-add-ac-container' class='ac-container'></div>
  </div>
  </div>
 <div class="ui-widget">
  <label for="song">Song: </label>
  <input name="add-song" id="add-song">
   <div id='song-add-ac-container' class='ac-container'></div>
</div>
Orchestra: <input type="text" name="ocode" value="pugliese"><br>
Youtube Id: <input type="text" id='youtubeid' name="youtubeid" value="{{youtubeId}}"><br>

<input type="submit" value="index">


</form>
{% endblock feed %}

{% block post_jquery_load %}
<script>
$(function() {
  $("#add-song").autocomplete({
    source: "/api/get_songs/",
    minLength: 2,
    appendTo: "#song-add-ac-container", 
  });
    $("#add-performer1").autocomplete({
    source: "/api/get_performers/",
    minLength: 2,
    appendTo: "#perf1-add-ac-container", 
  });
  $("#add-performer2").autocomplete({
    source: "/api/get_performers/",
    minLength: 2,
    appendTo: "#perf2-add-ac-container", 
  });
});
</script>
{% endblock post_jquery_load %}

