{% load endless %}

{% paginate perf_list %}



{% if perf_list %}

    {% for perf in perf_list %}
      <div class="row">
  
        <div class="large-12 columns">
<div class="image">
<a href="/p/{{perf.youtubeId}}" {% if superUser %} target="_blank" {% endif %}>
   <h4>  <span> {{perf.couples.first}}
    {% if perf.recordings.first.song.title != 'Unknown Song' %} dance to {{perf.recordings.first.song.title}}{% endif %}
    {% if perf.youtubeUploadDate %} <br>{{perf.youtubeUploadDate}}{% endif %}</span></h4>
      <!-- <iframe width="560" height="315" src="//www.youtube.com/embed/{{perf.youtubeId}}" frameborder="0" allowfullscreen></iframe> -->
        <img class="ytthumb" src="{{perf.thumbnailUrl}}"></a>
</div>
{% if superUser %}
  <div class="large-2 columns">
    <input type="submit" class='radius button banish-button {%if perf.active %} alert {% endif %}' id={{perf.youtubeId}} {%if perf.active %} value="Banish" {% else %} value="Activate" {% endif %} >
  </div>
{% endif %}
        </div>
      </div>
          {% endfor %}
{% else %}
    <p>No More Performances are available.</p>
{% endif %}

{% show_more %}