{% load static %}
{% load foundation_tags %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    {% block base_title %}
    <title>{% block title %}Foundation 5.0.3{% endblock title %}</title>
    {% endblock base_title %}

    {# Base Foundation CSS #}
    {% block foundation_css %}
    {% foundation_css "normalize" %}
    {% foundation_css "foundation.min" %}
    {% endblock foundation_css %}  
    
    {# Custom CSS #}
    {% block css %}{% endblock css %}

    {# Override if you need another version of modernizr #}
    {% block foundation_modernizer %}
    {% foundation_vendor "modernizr" %}
    {% endblock foundation_modernizer %}

    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}
</head>
<body {% block body_attr %}{% endblock body_attr %}>
    {# Main content goes here #}
    {% block base_body %}{% endblock base_body %}
<a href="/"><h1> Tango Video Index </h1></a>
<div class="large-8 callout panel columns">
{% if latest_perf_list %}

    {% for perf in latest_perf_list %}

     	<h3>{{perf.couples.first}} </h3><h4>dance to {{perf.recordings.first}}</h4>
    	<iframe width="560" height="315" src="//www.youtube.com/embed/{{perf.youtubeId}}" frameborder="0" allowfullscreen></iframe>

    {% endfor %}
{% else %}
    <p>No Performances are available.</p>
{% endif %}
<div class="pagination  large-8 columns">
    <span class="step-links">
        {% if latest_perf_list.has_previous %}
            <a href="?page={{ latest_perf_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ latest_perf_list.number }} of {{ latest_perf_list.paginator.num_pages }}.
        </span>

        {% if latest_perf_list.has_next %}
            <a href="?page={{ latest_perf_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
<div class="large-4 columns">
{% if performers %}
    <table>
    {% for performer in performers %}
		<tr><td><a href="/performer/{{performer.code}}">{{performer.firstName}} {{performer.lastName}}</a></td></tr>
    {% endfor %}
    <table>
{% else %}
    <p>No Performances are available.</p>
{% endif %}
</div>

    {# Override if you need another version of jQuery #}
    {% block foundation_jquery %}
    {% foundation_vendor "jquery" %}
    {% endblock foundation_jquery %}

    {# Foundation JS #}
    {% block foundation_js %}
    {% foundation_js %}
    {% endblock foundation_js %}

    {# Custom JS #}
    {% block body_js %}{% endblock body_js %}

    {# Init Foundation #}
    {% block foundation_js_init %}
    <script>
        $(document).foundation();
    </script>
    {% endblock foundation_js_init %}
</body>
</html>