{% extends "base_feed.html" %}
{% block title %}Discography{% endblock %}

{% block right_sidebar %}
<div class="large-3 medium-2 columns">
    <div class="row">    
              <form method="post" id='filter-form' action="/api/get_recordings" accept-charset="UTF-8">


         
            <div class="large-12 columns">Orchestra: 
                <select name="filter_orc" id="filter_orc">
                  <option value = "">All Orchestras</option>  
                  <option value="biagi">Biagi</option>
                  <option value="calo">Calo</option>
                  <option value="canaro">Canaro</option>
                  <option value="dagostino">D'Agostino</option>
                  <option value="darienzo">D'Arienzo</option>
                  <option value="deangelis">De Angelis</option>
                  <option value="decaro">De Caro</option>
                  <option value="demare">Demare</option>
                  <option value="disarli">Di Sarli</option>
                  <option value="donato">Donato</option>
                  <option value="fresedo">Fresedo</option>
                  <option value="gobbi">Gobbi</option>
                  <option value="laurenz">Laurenz</option>
                  <option value="lomuto">Lomuto</option>
                  <option value="malerba">Malerba</option>
                  <option value="pugliese">Pugliese</option>
                  <option value="rodriguez">Rodriguez</option>
                  <option value="tanturi">Tanturi</option>
                  <option value="troilo">Troilo</option>
                  <option value="varel">Varela</option>
              </select>
            </div>
            <div class="large-12 columns">
              Genre:
              <select name="filter_genre">
                 <option value = "">All</option>  
                <option value="Tango">Tango</option>
                <option value="Milonga">Milonga</option>
                <option value="Vals">Vals</option>
              </select>
  </div>
  <div class="row">
  <div class="large-12 columns">
           <div class="ui-widget ui-front">
              <label for="song">Song: </label>
            <input name="filter_song" id="disco-song">
            <div id='disco-song-ac-container' class='ac-container'></div>
        </div>
</div>
</div>
<div class="row">
      <div class="large-12 columns">
           <div class="ui-widget ui-front">
              <label for="singer">Singer: </label>
            <input name="filter_singer" id="singer">
            <div id='disco-singer-ac-container' class='ac-container'></div>
        </div>
      </div>
          <div class="large-12 columns">
           <div class="ui-widget ui-front">
              <label for="starting_year">Beginning Year: </label>
            <input name="filter_starting_year" id="starting_year">
            <div id='disco-starting-year' class='ac-container'></div>
        </div>
      </div>
          <div class="large-12 columns">
           <div class="ui-widget ui-front">
              <label for="ending_year">Ending Year: </label>
            <input name="filter_ending_year" id="ending_year">
            <div id='disco-ending-year' class='ac-container'></div>
        </div>

</div>
</div>
<div class="large-12 columns">
<div class="row">
          <input id='filter-button' type="submit" class='radius button filter-button' value="Filter" >
</div>
</div>
 

      </form>
</div>
<div id="report-error-modal" class="reveal-modal" data-reveal>
<form method="post" id='error-form' action="/api/report_error" accept-charset="UTF-8">
  <h2>What seems to be the problem?</h2>
          <input id="error_report_song" type="hidden" hidden="true" value="" name="error_report_song"/>
         
          <input type="checkbox" name="wrongYoutube" value="True" />
          <label for="wrongYoutube">The video is wrong, low quality or contains ads</label><br>
          <input type="checkbox" name="wrongInfo" value="True" />
          <label for="wrongInfo">There's an error in the discography information</label>
          <input type="checkbox" name="wrongItunes" value="True" />
          <label for="wrongItunes">The song linked in iTunes isn't correct</label>
          <label for="additional">Please provide a description of the problem here:</label>
          <input type='text' name="additional"/>
          <label for="youtubeUrl">If you have it, please paste the correct Youtube URL here</label>
          <input type="text" name="youtubeUrl"/>
          <input id='submit-error-button' type="submit" class='radius button filter-button' value="Submit" >
</form>
  <a class="close-reveal-modal">&#215;</a>
</div>
   <div id="player"></div>
  <div class="large-2 columns">
  </div>
</div>
{% endblock right_sidebar %}

{% block left_sidebar %}
{% endblock left_sidebar %}

 {% block feed %}
  <div class="large-6 medium-6 columns">
  <div id='disco-alerts'></div>

<div id='rt'>Type in some search terms to get started.</div>
     <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->

    
    
    <script src="/static/foundation/js/vendor/jquery.js"></script>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      var tanda = ['oMryLzqDfCM'] //'9nIT1WFfzJc' ,'xHIxxBdcnwE'];
      var current_song = 0;
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '130',
          width: '215',
          videoId: "",
          events: {
            //'onReady': onPlayerReady,
            //'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
          nextVideo();

        }
      }
      function nextVideo() {
        current_song += 1;
        if (current_song >= tanda.length){
            skipTanda();
              


        } else {
        player.loadVideoById(tanda[current_song], 0, "large");
      }
      }
      
      function playSong(youtubeId){
        
		      player.loadVideoById(youtubeId, 0, "large");
      }
      function reportIssueModal(recording){
        
        $('#error_report_song').val(recording);
      }
    </script>
  </div>
{% endblock feed %}


{% block post_jquery_load %}
<script type="text/javascript" src="/media/js/jquery.tablesorter.js"></script> 
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#player").hide();
        $( "#error-form").submit(function( event ) { 
          event.preventDefault();
          var $form = $( this )
          additional_term = $form.find( "input[name='additional']" ).val(),
          youtube_term = $form.find( "input[name='youtubeUrl']" ).val(),
          url = $form.attr( "action" );
          // Send the data using post
          var posting = $.post( url, {wrongYoutube: $("#wrongYoutube").attr('checked') , wrongItunes: $("#wrongItunes").attr('checked') , wrongInfo: $("#wrongInfo").attr('checked') , additional: additional_term, youtubeUrl: youtube_term} );
 
          // Put the results in a div
          posting.done(function( data ) {
            $('#report-error-modal').foundation('reveal', 'close');
              success = '<div data-alert class="alert-box success radius">
                    Thank you. The error has been reported.
                  <a href="#" class="close">&times;</a>
              </div>';
            $('#disco-alerts').append(success);

          });
        });

        $( "#filter-form" ).submit(function( event ) {
          console.log('test')
           // Stop form from submitting normally
          event.preventDefault();
          // Get some values from elements on the page:
          var $form = $( this ),
          orc_term = $form.find( "select[name='filter_orc']" ).val(),
          genre_term = $form.find( "select[name='filter_genre']" ).val(),
          song_term = $form.find( "input[name='filter_song']" ).val(),
          singer_term = $form.find( "input[name='filter_singer']" ).val(),
          starting_term = $form.find( "input[name='filter_starting_year']" ).val(),
          ending_term = $form.find( "input[name='filter_ending_year']" ).val(),
          url = $form.attr( "action" );
          console.log(genre_term);
          console.log(orc_term);
          // Send the data using post
          var posting = $.post( url, {singer: singer_term, song: song_term, starting_year: starting_term, ending_year: ending_term, orc: orc_term, genre: genre_term } );
 
          // Put the results in a div
          posting.done(function( data ) {
            var content = $( data ).find( "#content" );
            console.log(content);
            $( "#rt" ).empty().html( data );
            $("#disco-table").tablesorter(); 
            $("#player").show();
          });
        });
        
        $("#disco-song").autocomplete({
          appendTo: "#disco-song-ac-container",    
          source: "/api/get_songs/",
          minLength: 2,
        });
    } 
); 
</script>
{% endblock post_jquery_load %}

