
 <div id='cotent'><table id="disco-table" class="tablesorter">
  <thead>
    <tr>
      <th width="200">Orchestra</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Singer</th>
      <th width="150">Recorded</th>
      <th width="300"></th>
    </tr>
  </thead>
  <tbody>
{% for recording in recordings %}
<tr>
  <td>{{recording.orchestra.leader}}</td>
  <td>{{recording.song.title}}</td>
  <td>{{recording.genre.name}}</td>
  <td>{{recording.singer}}</td>
  <td> {{recording.recorded}}</td>
  <td><ul class="button-group round">
          <li><a href="#"  class='tiny button' onClick='playSong("{{recording.youtubeId}}");'>Play Song</a></li>
          <li><a href="#" data-reveal-id="report-error-modal" class='tiny button' onClick='reportIssueModal("{{recording.pk}}");'>Report Issue</a></li>
      </ul>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>