
 <div id='content'><table id="disco-table" class="tablesorter">
  <thead>
    <tr>
      <th width="200">Orchestra</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Singer</th>
      <th width="150">Recorded</th>
      <th class="header" style="
    padding-left: 0px;
    padding-right: 330px;
"></th>
    </tr>
  </thead>
  <tbody>
{% for recording in recordings %}
<tr {% if recording.youtubeId %} youtubeId="{{recording.youtubeId}}"{% endif %} youtubeOffset="{{recording.youtubeOffset}}">
  <td>{{recording.orchestra.leader}}</td>
  <td>{{recording.song.title}}</td>
  <td>{{recording.genre.name}}</td>
  <td>{{recording.singer}}</td>
  <td>{{recording.recorded}}</td>
  <td><ul class="button-group round">
          {% if recording.youtubeId %}
          <li><a href="#"  class='tiny button' onClick='event.preventDefault(); playSong("{{recording.youtubeId}}, {{recording.youtubeOffset}}");'>Play Song</a></li>
          {% else %}
          <li><a href="#"  class='tiny button disabled' onClick='event.preventDefault();'>No Video </a></li>
          {% endif %}
          {% if recording.itunesLink %}
          <li><a href="{{recording.itunesLink}}&at=10lKn6"  class='tiny button {% if not recording.itunesLink%} disabled {% endif %}'>Buy on Itunes</a></li>
          {% else %}
           <li><a href="{{recording.itunesLink}}&at=10lKn6"  onClick='event.preventDefault();' class='tiny button  disabled '>Not on iTunes</a></li>
          {% endif %}
          
          <li><a href="#" data-reveal-id="report-error-modal" class='tiny button' onClick='reportIssueModal("{{recording.pk}}");'>Report Issue</a></li>
      </ul>
  </td>
</tr>
{% if superUser %}
<tr><td>
  <form method="post" id='youtube-id-form' action="/api/update_recording/youtubeId/" accept-charset="UTF-8">
   <label for="update-youtube-id">Youtube ID: </label>
    <input type='hidden' name="recording" value="{{recording.pk}}">
    <input type="text" name="update-youtube-id" id="update-youtube-id">
    <input id='filter-button' type="submit" class='tiny radius button filter-button' value="update" >
  </form>
</td><td>
   <form method="post" id='itunes-link-form' action="/api/update_recording/itunesLink/" accept-charset="UTF-8">
    <label for="update-itunes-link">Itunes Link: </label>
    <input type='hidden' name="recording" value="{{recording.pk}}">
    <input type="text" name="update-itunes-link" id="update-recording-itunes">
   <input id='filter-button' type="submit" class='tiny radius button filter-button' value="update" >
  </form>
</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>
<script type='text/javascript'>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '10lKn6']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>
</div>