
 <div id='content'><table id="disco-table" class="tablesorter">
  <thead>
    <tr>
      <th width="200">Orchestra</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Singer</th>
      <th width="150">Recorded</th>
      <th class="header" style="
    padding-left: 0px;
    padding-right: 330px;
"></th>
    </tr>
  </thead>
  <tbody>
{% for recording in recordings %}
<tr>
  <td>{{recording.orchestra.leader}}</td>
  <td>{{recording.song.title}}</td>
  <td>{{recording.genre.name}}</td>
  <td>{{recording.singer}}</td>
  <td> {{recording.recorded}}</td>
  <td><ul class="button-group round">
          <li><a href="#"  class='tiny button' onClick='event.preventDefault(); playSong("{{recording.youtubeId}}");'>Play Song</a></li>
          {% if recording.itunesLink%}
          <li><a href="{{recording.itunesLink}}"  class='tiny button'>Buy on Itunes</a></li>
          {% endif %}
          <li><a href="#" data-reveal-id="report-error-modal" class='tiny button' onClick='reportIssueModal("{{recording.pk}}");'>Report Issue</a></li>
      </ul>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
<script type='text/javascript'>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '10lKn6']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>
</div>